<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission tools:node="removeAll" />
    <uses-permission-sdk-23 tools:node="removeAll" />
    <permission tools:node="removeAll" />
    <uses-feature tools:node="removeAll" />
    <queries tools:node="removeAll" />
    <application tools:node="replace" android:name="android.app.Application"
        android:allowBackup="false" android:testOnly="true" />
</manifest>
